{{!-- header section start --}}
{{>header}}
{{!-- header section end --}}


<!-- Navbar -->
{{>navbar1}}
<!-- Navbar -->

{{!-- Main section  start --}}


<div class="container">
  <div class="box">
    <img src="img/pic1.jpg" class="img-fluid rounded-start">
    <span>CSS</span>
  </div>
  <div class="box">
    <img src="img/pic2.jpg" class="img-fluid rounded-bottom">
    <span>Image</span>
  </div>
  <div class="box">
    <img src="img/pic3.jpg" class="img-fluid rounded-bottom">
    <span>Hover</span>
  </div>
  <div class="box">
    <img src="img/pic4.jpg" class="img-fluid rounded-end">
    <span>Effect</span>
  </div>
</div>



<div class="container-fluid mt-5 vh-100">
    <div class="row justify-content-evenly align-items-center mb-5">
        <div class="col-12 col-md-5">
            <p class="fs-4 lh-base font-monospace">There's a magical synergy between the simple act of sipping a cup of tea and the embrace of stunning landscapes. As a traveler, few experiences rival the peaceful harmony that washes over you when you pause to enjoy a cup of tea amidst the embrace of nature's beauty. Whether you find yourself atop a misty mountain peak or nestled beside a serene lake, here's how you can elevate your travel experience by merging the art of tea with the wonders of the world.!</p>
        </div>
        <div class="col-12 col-md-5">
            <img src="img/mainpic.jpg" class="img-fluid" style="border-radius: 8px;" width="400" height="250" alt="mainpic">

        </div>
    </div>
    {{>footer}}
</div>
         {{!-- Main section  end --}}


{{!-- footer section start --}}

{{!-- footer section end --}}