<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-2" href="/"> <span style="color: #4eb820;">T</span>ravel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                
                
                
            </ul>
            
                <div class="d-flex"> 
                <a href="/login"><button class="btn btn-outline-success me-5" >Login</button> </a>
                <a href="/register"><button class="btn btn-outline-success" >Register here</button> </a>
                </div>
           
        </div>
    </div>
</nav>
<!-- Navbar -->